@import "reset";
@import "mixin";

/* VARIABLES =================================== */

$orange: #eb6f38;

/* MIXINS ====================================== */



/* GENERAL STYLES ================================= */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

/* SITE STYLES ================================= */

html {
	background-color: $orange;
}

body {
	max-width: 40em;
	margin: 0 auto;
	font-family: helvetica, arial, sans-serif;
	color: #343434;
}

.track {
	background-color: rgba(255,255,255,.7);
	border-radius: 0.2em;
	box-shadow: 0 0.2em 0.2em rgba(0,0,0,.2);
	margin: 3em 0;
	padding: 0;
	min-height: 12.5em;
	position: relative;
	h1 {
		font-weight: bold;
	}
	img {
		border-top-left-radius: 0.14em;
		border-bottom-left-radius: 0.14em;
		float: left;
		margin-right: 2em;
		opacity: 0.8;
		/* box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6); no longer needed */
		border-right: 1px solid rgba(255,255,255,0.8);
	}
	.meta {
		padding: 1em 0;
		line-height: 1.4;
	}
}

.btn {
    background-color: $orange;
    padding: 0.6em 0.7em 0.4em;
    border-radius: 0.2em;
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.2);
    border:1px solid darken($orange,3%);
    position: absolute;
    right: 2%;
    bottom:7%;
    @include transition(0.04s);
    &:hover {
    	background-color: lighten($orange, 20%);
    	border: 1px solid lighten($orange, 10%);
    	box-shadow: 0 0 0.2em rgba(0,0,0,.1);
    	
    }
}